<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@ViewBag.Title - HTML5</title>
  @Styles.Render("~/Content/css")
  @Scripts.Render("~/bundles/modernizr")
  @RenderSection("styles", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("HTML5", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Html5 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Browser Support", "BrowserSupport", "Html5")</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Global Attributes", "GlobalAttributes", "Html5")</li>
                            <li>@Html.ActionLink("Text Elements", "TextElements", "Html5")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">APIs <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li>@Html.ActionLink("Geolocation", "Geolocation", "Api")</li>
                          <li role="separator" class="divider"></li>
                          <li>@Html.ActionLink("Canvas Basic", "Canvas", "Api")</li>
                          <li>@Html.ActionLink("Canvas Advanced", "CanvasAdvanced", "Api")</li>
                          <li role="separator" class="divider"></li>
                          <li>@Html.ActionLink("Video", "Video", "Api")</li>
                          <li role="separator" class="divider"></li>
                          <li>@Html.ActionLink("Web Storage", "WebStorage", "Api")</li>
                          <li role="separator" class="divider"></li>
                          <li>@Html.ActionLink("Drag And Drop", "DragAndDrop", "Api")</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Peter Lee</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
